:root {
    --default-font: '__ggFont_0ecabb', sans-serif;
}

a:-webkit-any-link {
    color: #cc302e;
}

body {
    background-color: #1d1835;
    color: white;
    font-family: var(--default-font);
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
    background-color: black;
}

table, th, td {
    border: 1px solid #353535;
}

th, td {
    padding: 10px;
    text-align: middle;
}

@media (max-width: 600px) {
    .histogram-container {
        flex-direction: column;
    }

    .histogram-container div {
        max-width: 100%;
        width: 100%;
    }
}

#search-container {
    text-align: center;
    margin-bottom: 1.5%;
}

#search-input {
    width: 30%;
    padding: 5px;
    color: white;
    background-color: black;
    border-color: white;
    height: 30px;
    font-size: 18px;
}

.profile-container {
    text-align: center;
}

.histogram-container {
    display: flex;
    justify-content: space-around; /* To place histograms side by side */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.profile-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-row h1, .profile-row p, .profile-row img {
    margin-right: 10px;
}

.profile-row img {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#divisionImage {
    width: 100px;
    height: auto;
    border: none;
}

.highlight {
    color: #fecd19;
    font-weight: bold;
}

#leaderboard td:nth-child(4),
#leaderboard th:nth-child(4),
#leaderboard td:nth-child(6),
#leaderboard th:nth-child(6),
#leaderboard td:nth-child(7),
#leaderboard th:nth-child(7),
#leaderboard td:nth-child(8),
#leaderboard th:nth-child(8) {
    color: #fecd19
}

#leaderboard th, #leaderboard td {
    text-align: center;
}

.leaderboard-line {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
